<% include header %>
<div id="page">
	<% include pagelogo %>

	<div class="content">
		<h2>404! Aradığınız sayfa bulunamadı!</h2>
		<p>
			Aradığınız sayfa bulunamadı, adres çubuğunu kontrol edip tekrar deneyiniz. Girmiş olduğunuz adresin doğruluğundan eminseniz
			bize <a href="/iletisim">iletişim</a> sayfasından ulaşabilir ve yardım alabilirsiniz.
		</p>

		<p>
			<a href="/">Anasayfa &raquo;</a>
		</p>
	</div>

	<% include pagebottom %>
</div>

<% include footer %>
