<% include header %>
<div id="page">
	<% include pagelogo %>

	<div class="content">
		<h2>İletişim</h2>
		<p>
			Bize herhangi bir konuda ulaşmak için <a href="mailto:iletisim@hos5.net">iletisim@hos5.net</a> adresine e-posta gönderebilirsiniz.
			Reklam çözümlerimiz ve daha fazla bilgi almak için ise <a href="mailto:reklam@hos5.net">reklam@hos5.net</a> adresini kullanabilirsiniz.
		</p>

		<p>
		<p>
			Bize ayrıca <a href="http://facebook.com/hos5net">facebook</a> ve <a href="http://twitter.com/hos5net">twitter</a>
			adresimizden de ulaşabilirsiniz.
		</p>
		</p>

		<p>
			<a href="/">Anasayfa &raquo;</a>
		</p>
	</div>

	<% include pagebottom %>
</div>

<% include footer %>
