	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/hos5.js"></script>
</body>
</html>
