<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Hos5.net</title>

	<meta name="google-site-verification" content="YgTwIsYqtkr2j5O7RyBgMZ21S-JdcobflvJEP3TSYMM" />
	<meta name="keywords" content="sohbet, anonim sohbet, muhabbet, hos5, hosbes, hoşbeş, lokasyon, chat, anonim chat, istanbul, ankara, izmir, tüm türkiye">
	<meta name="description" content="Hos5, Lokasyon tabanlı anonim sohbet servisi! Şehrinizi seçip anonim olarak hemen sohbet edebilirsiniz.">

	<meta property="og:title" content="Hos5" />
	<meta property="og:description" content="Hos5, Lokasyon tabanlı anonim sohbet servisi! Şehrinizi seçip anonim olarak hemen sohbet edebilirsiniz." />
	<meta property="og:site_name" content="Hos5" />
	<meta property="og:locale" content="tr_TR" />

	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-36213105-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/tr_TR/all.js#xfbml=1&appId=331353943587041";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
