<div id="footer">
	<div class="left">
		&copy; 2012, Hos5.net - Tüm hakları saklıdır.
	</div>
	<div class="right">
		<a href="/nedir">nedir?</a>
		<a href="/yardim">yardim</a>
		<a href="/iletisim">iletişim</a>
	</div>
</div>

<div class="social">
	<% include social %>
</div>
