<div class="fb-like" data-href="http://hos5.net" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true"></div>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://hos5.net" data-text="Hos5, lokasyon tabanlı anonim sohbet servisi" data-via="Hos5net" data-lang="tr">Tweetle</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
