#chat {
	@background: #fff;
	@radius: 5px;
	@width: 90%;
	@borderColor: #e2e2e2;

	width: @width;
	margin: 0 auto;

	display: none;


	#logo {
		width: 150px;
		background: @background;
		padding: 10px;
		float: left;

		text-align: center;

		margin-bottom: ( @marginTop / 2 );

		-webkit-border-bottom-right-radius: @radius;
		-webkit-border-bottom-left-radius: @radius;
		-moz-border-radius-bottomright: @radius;
		-moz-border-radius-bottomleft: @radius;
		border-bottom-right-radius: @radius;
		border-bottom-left-radius: @radius;

	    border: 2px solid @borderColor;
	    border-top: none;

	    cursor: pointer;

	    h5 {
			font-family: "sansationbold";
			font-size: 24px;
	    }

	    p {
	    	font-family: "sansation_lightlight";
	    	font-size: 13px;
	    }
	}

	.socialLinks {
		float: right;
		overflow: auto;
		margin-top: 20px;

	    .fb-like {
	        float: left;
	        margin-right: 15px;
	    }

	    .twitter-share-button {
	        display: block;
	        float: left;
	        clear: right;
	    }
	}

	#box {
		background: @background;
		.border-radius(@radius);
		border: 2px solid @borderColor;

		width: (@width - 2%);

		overflow-y: scroll;
		overflow-x: hidden;

		padding: 1%;

		position: absolute;
		top: 80px;
		bottom: 140px;

		font-family: arial, sans-serif;
		font-size: 14px;

		#status {
			font-weight: bold;
			color: #666;

			a {
				color: #555;
				text-decoration: underline;
				font-weight: bold;

				&:hover {
					color: #333;
				}
			}
		}

		#messages {
			color: #555;
			margin-top: 20px;

			list-style: none;
			word-wrap: break-word;

			li {
				margin-bottom: 8px;

				span {
					font-weight: bold;
				}

				span.you {
					color: #1693A5;
				}

				span.stranger {
					color: #FF9900;
				}
			}

			a {
				color: #555;
				text-decoration: underline;
				font-weight: bold;

				&:hover {
					color: #333;
				}
			}

			#typing {
				font-weight: bold;
			}
		}

	}

	#controls {
		position: absolute;
		bottom: 20px;
		height: 100px;

		background: @background;
		.border-radius(@radius);
		border: 2px solid @borderColor;

		width: @width;

		.link() {
			font-family: arial, sans-serif;
			font-weight: bold;
			color: #555;
			width: 100%;
			height: 50px;
			padding-top: 36px;
			font-size: 16px;

			span {
				display: block;
				color: #999;
				font-weight: normal;
				font-style: italic;
				font-size: 13px;
			}
		}

		.disabled {
			color: #999 !important;
			background: #fff;

			&:hover {
				cursor: default !important;
			}
		}

		#disconnectBox {
			width: 10%;
			float: left;
			text-align: center;

			a {
				.link();

				&:hover {
					cursor: pointer;
				}
			}

			#disconnectBtn {
				display: block;
			}

			#chatAgainBtn {
				display: none;
			}
		}

		#typeBox {
			width: 75%;
			float: left;
			border-left: 1px solid @borderColor;
			border-right: 1px solid @borderColor;
		}

		#type {
			width: 97%;
			height: 76px;
			border: none;
			resize: none;
			outline: 0;

			padding: 10px;

			font-size: 14px;
			font-family: arial, sans-serif;
			color: #333;

			&:focus {
				outline: 0;
			}
		}

		#sendBox {
			width: 14%;
			float: left;
			text-align: center;

			a {
				.link();

				&:hover {
					cursor: pointer;
				}
			}

			#sendBtn {
				display: block;
			}
		}
	}
}
