// Set background color of whole page
@bgcolor: #f0f0f0;

// Set margin top of general content
@marginTop: 40px;

// Define logo's and motto's font face
@font-face {
    font-family: 'sansationbold';
    src: url('../fonts/sansation_bold-webfont.eot');
    src: url('../fonts/sansation_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sansation_bold-webfont.woff') format('woff'),
         url('../fonts/sansation_bold-webfont.ttf') format('truetype'),
         url('../fonts/sansation_bold-webfont.svg#sansationbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sansation_lightlight';
    src: url('../fonts/sansation_light-webfont.eot');
    src: url('../fonts/sansation_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sansation_light-webfont.woff') format('woff'),
         url('../fonts/sansation_light-webfont.ttf') format('truetype'),
         url('../fonts/sansation_light-webfont.svg#sansation_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Create a function that set border radius of itself
.border-radius (@radius) {
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
}

// Create a function that make circle itself
.circle (@pixel, @background: #444) {
   width: @pixel;
   height: @pixel;
   background: @background;
   .border-radius((@pixel / 2));
}

// Create a function that make bubble itself
.bubble (@background: #444, @color: #e2e2e2) {
    background: @background;
    padding: 1px 4px;
    font-size: 11px;
    font-weight: bold;
    color: @color;
}

body {
	background: @bgcolor;
}

.social {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: auto;


    .fb-like {
        float: left;
        margin-right: 10px;
    }

    .twitter-share-button {
        display: block;
        float: left;
        clear: right;
    }

}
