#landing {
	width: 800px;
	margin: 0 auto;

	margin-top: @marginTop;

	#browserSupport {
		background: #FEEFB3;
		border: 1px solid #E8CE66;
		color: #666;
		padding: 10px 0;
		text-align: center;
		font-family: arial, sans-serif;
		font-size: 13px;
		margin-bottom: 40px;
		.border-radius(5px);
		display: none;

		a {
			text-decoration: none;
			color: #9F6000;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	h1 {
		text-align: center;
		font-family: "sansationbold";
		font-size: 32px;
		margin-bottom: 5px;

		a {
			text-decoration: none;
			color: #000;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	p {
		text-align: center;
		font-family: "sansation_lightlight";
	}

	h2 {
		font: 14px arial, sans-serif;
		font-style: italic;
		color: #525252;
		text-align: center;
		margin-top: @marginTop;
	}

	#filterCities {
		display: block;
		width: 250px;
		margin: 0 auto;
		margin-top: 20px;
	    padding: 5px;
	    font-size: 15px;
	    text-shadow: 0px 1px 0px #fff;
	    outline: none;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	    border: 1px solid #ccc;
	    -webkit-transition: .3s ease-in-out;
	    -moz-transition: .3s ease-in-out;
        -webkit-box-shadow: 0px 0px 6px #999;
        -moz-box-shadow: 0px 0px 5px #999;
        box-shadow: 0px 0px 5px #999;
        font-family: arial, sans-serif;
        font-size: 13px;

	    &:focus {
	  		border: 1px solid #fafafa;
	        -webkit-box-shadow: 0px 0px 6px #000;
	        -moz-box-shadow: 0px 0px 5px #000;
	        box-shadow: 0px 0px 5px #000;
	    }
	}

	ul {
		margin-top: 10px;
		list-style: none;
		overflow: auto;
		clear: right;

		li {
			float: left;
			margin: 10px;

			a {
				display: block;
				width: 140px;
				background: #333;
				.border-radius(5px);
				padding: 8px 0 8px 0;
				text-decoration: none;
				color: #fff;
				text-align: center;
				font: 13px arial, sans-serif;

				&:hover { background: #222; }

				span {
					.bubble();
				}
			}
		}
	}

	#footer	{
		margin: 20px 0;
		font-size: 13px;
		overflow: auto;
		clear: right;

		font-family: arial, sans-serif;

		.left {
			float: left;
			color: #666;

		}

		.right {
			float: right;
			font-size: 14px;

			a {
				color: #525252;
				text-decoration: none;
				margin-left: 10px;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
