#page {
	width: 800px;
	margin: 0 auto;

	margin-top: @marginTop;

	h1 {
		text-align: center;
		font-family: "sansationbold";
		font-size: 32px;
		margin-bottom: 5px;

		a {
			text-decoration: none;
			color: #000;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.motto {
		text-align: center;
		font-family: "sansation_lightlight";
		margin: 0;
	}

	.content {
		margin: 80px 0;

		h2 {
			font: 18px arial, sans-serif;
			font-weight: bold;
			color: #525252;
			margin-bottom: 10px;
		}

		p {
		 	text-align: left;
		 	font: 13px arial, sans-serif;
		 	margin-bottom: 20px;
		 	color: #525252;
		 	line-height: 20px;

		 	a {
		 		color: #999;
		 		text-decoration: none;

		 		&:hover {
		 			text-decoration: underline;
		 		}
		 	}
		}
	}


	#footer	{
		margin: 20px 0;
		font-size: 13px;
		overflow: auto;
		clear: right;

		font-family: arial, sans-serif;

		.left {
			float: left;
			color: #666;

		}

		.right {
			float: right;
			font-size: 14px;

			a {
				color: #525252;
				text-decoration: none;
				margin-left: 10px;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
