/**
 * Hos5.net
 * Lokasyon tabanlı anonim sohbet servisi
 *
 * @author Alpcan AYDIN <alpcan@alpcanaydin.com>
 * @version 0.1
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  /* Responsive images (ensure images don't scale beyond their parents) */

  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */

  width: auto\9;
  /* IE7-8 need help adjusting responsive images */

  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#map_canvas img {
  max-width: none;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
@font-face {
  font-family: 'sansationbold';
  src: url('../fonts/sansation_bold-webfont.eot');
  src: url('../fonts/sansation_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sansation_bold-webfont.woff') format('woff'), url('../fonts/sansation_bold-webfont.ttf') format('truetype'), url('../fonts/sansation_bold-webfont.svg#sansationbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sansation_lightlight';
  src: url('../fonts/sansation_light-webfont.eot');
  src: url('../fonts/sansation_light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sansation_light-webfont.woff') format('woff'), url('../fonts/sansation_light-webfont.ttf') format('truetype'), url('../fonts/sansation_light-webfont.svg#sansation_lightlight') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background: #f0f0f0;
}
.social {
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: auto;
}
.social .fb-like {
  float: left;
  margin-right: 10px;
}
.social .twitter-share-button {
  display: block;
  float: left;
  clear: right;
}
#landing {
  width: 800px;
  margin: 0 auto;
  margin-top: 40px;
}
#landing #browserSupport {
  background: #FEEFB3;
  border: 1px solid #E8CE66;
  color: #666;
  padding: 10px 0;
  text-align: center;
  font-family: arial, sans-serif;
  font-size: 13px;
  margin-bottom: 40px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: none;
}
#landing #browserSupport a {
  text-decoration: none;
  color: #9F6000;
}
#landing #browserSupport a:hover {
  text-decoration: underline;
}
#landing h1 {
  text-align: center;
  font-family: "sansationbold";
  font-size: 32px;
  margin-bottom: 5px;
}
#landing h1 a {
  text-decoration: none;
  color: #000;
}
#landing h1 a:hover {
  text-decoration: underline;
}
#landing p {
  text-align: center;
  font-family: "sansation_lightlight";
}
#landing h2 {
  font: 14px arial, sans-serif;
  font-style: italic;
  color: #525252;
  text-align: center;
  margin-top: 40px;
}
#landing #filterCities {
  display: block;
  width: 250px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 5px;
  font-size: 15px;
  text-shadow: 0px 1px 0px #fff;
  outline: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -webkit-box-shadow: 0px 0px 6px #999;
  -moz-box-shadow: 0px 0px 5px #999;
  box-shadow: 0px 0px 5px #999;
  font-family: arial, sans-serif;
  font-size: 13px;
}
#landing #filterCities:focus {
  border: 1px solid #fafafa;
  -webkit-box-shadow: 0px 0px 6px #000;
  -moz-box-shadow: 0px 0px 5px #000;
  box-shadow: 0px 0px 5px #000;
}
#landing ul {
  margin-top: 10px;
  list-style: none;
  overflow: auto;
  clear: right;
}
#landing ul li {
  float: left;
  margin: 10px;
}
#landing ul li a {
  display: block;
  width: 140px;
  background: #333;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 8px 0 8px 0;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font: 13px arial, sans-serif;
}
#landing ul li a:hover {
  background: #222;
}
#landing ul li a span {
  background: #444444;
  padding: 1px 4px;
  font-size: 11px;
  font-weight: bold;
  color: #e2e2e2;
}
#landing #footer {
  margin: 20px 0;
  font-size: 13px;
  overflow: auto;
  clear: right;
  font-family: arial, sans-serif;
}
#landing #footer .left {
  float: left;
  color: #666;
}
#landing #footer .right {
  float: right;
  font-size: 14px;
}
#landing #footer .right a {
  color: #525252;
  text-decoration: none;
  margin-left: 10px;
}
#landing #footer .right a:hover {
  text-decoration: underline;
}
#chat {
  width: 90%;
  margin: 0 auto;
  display: none;
}
#chat #logo {
  width: 150px;
  background: #ffffff;
  padding: 10px;
  float: left;
  text-align: center;
  margin-bottom: 20px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px solid #e2e2e2;
  border-top: none;
  cursor: pointer;
}
#chat #logo h5 {
  font-family: "sansationbold";
  font-size: 24px;
}
#chat #logo p {
  font-family: "sansation_lightlight";
  font-size: 13px;
}
#chat .socialLinks {
  float: right;
  overflow: auto;
  margin-top: 20px;
}
#chat .socialLinks .fb-like {
  float: left;
  margin-right: 15px;
}
#chat .socialLinks .twitter-share-button {
  display: block;
  float: left;
  clear: right;
}
#chat #box {
  background: #ffffff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 2px solid #e2e2e2;
  width: 88%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1%;
  position: absolute;
  top: 80px;
  bottom: 140px;
  font-family: arial, sans-serif;
  font-size: 14px;
}
#chat #box #status {
  font-weight: bold;
  color: #666;
}
#chat #box #status a {
  color: #555;
  text-decoration: underline;
  font-weight: bold;
}
#chat #box #status a:hover {
  color: #333;
}
#chat #box #messages {
  color: #555;
  margin-top: 20px;
  list-style: none;
  word-wrap: break-word;
}
#chat #box #messages li {
  margin-bottom: 8px;
}
#chat #box #messages li span {
  font-weight: bold;
}
#chat #box #messages li span.you {
  color: #1693A5;
}
#chat #box #messages li span.stranger {
  color: #FF9900;
}
#chat #box #messages a {
  color: #555;
  text-decoration: underline;
  font-weight: bold;
}
#chat #box #messages a:hover {
  color: #333;
}
#chat #box #messages #typing {
  font-weight: bold;
}
#chat #controls {
  position: absolute;
  bottom: 20px;
  height: 100px;
  background: #ffffff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 2px solid #e2e2e2;
  width: 90%;
}
#chat #controls .disabled {
  color: #999 !important;
  background: #fff;
}
#chat #controls .disabled:hover {
  cursor: default !important;
}
#chat #controls #disconnectBox {
  width: 10%;
  float: left;
  text-align: center;
}
#chat #controls #disconnectBox a {
  font-family: arial, sans-serif;
  font-weight: bold;
  color: #555;
  width: 100%;
  height: 50px;
  padding-top: 36px;
  font-size: 16px;
}
#chat #controls #disconnectBox a span {
  display: block;
  color: #999;
  font-weight: normal;
  font-style: italic;
  font-size: 13px;
}
#chat #controls #disconnectBox a:hover {
  cursor: pointer;
}
#chat #controls #disconnectBox #disconnectBtn {
  display: block;
}
#chat #controls #disconnectBox #chatAgainBtn {
  display: none;
}
#chat #controls #typeBox {
  width: 75%;
  float: left;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
}
#chat #controls #type {
  width: 97%;
  height: 76px;
  border: none;
  resize: none;
  outline: 0;
  padding: 10px;
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #333;
}
#chat #controls #type:focus {
  outline: 0;
}
#chat #controls #sendBox {
  width: 14%;
  float: left;
  text-align: center;
}
#chat #controls #sendBox a {
  font-family: arial, sans-serif;
  font-weight: bold;
  color: #555;
  width: 100%;
  height: 50px;
  padding-top: 36px;
  font-size: 16px;
}
#chat #controls #sendBox a span {
  display: block;
  color: #999;
  font-weight: normal;
  font-style: italic;
  font-size: 13px;
}
#chat #controls #sendBox a:hover {
  cursor: pointer;
}
#chat #controls #sendBox #sendBtn {
  display: block;
}
#page {
  width: 800px;
  margin: 0 auto;
  margin-top: 40px;
}
#page h1 {
  text-align: center;
  font-family: "sansationbold";
  font-size: 32px;
  margin-bottom: 5px;
}
#page h1 a {
  text-decoration: none;
  color: #000;
}
#page h1 a:hover {
  text-decoration: underline;
}
#page .motto {
  text-align: center;
  font-family: "sansation_lightlight";
  margin: 0;
}
#page .content {
  margin: 80px 0;
}
#page .content h2 {
  font: 18px arial, sans-serif;
  font-weight: bold;
  color: #525252;
  margin-bottom: 10px;
}
#page .content p {
  text-align: left;
  font: 13px arial, sans-serif;
  margin-bottom: 20px;
  color: #525252;
  line-height: 20px;
}
#page .content p a {
  color: #999;
  text-decoration: none;
}
#page .content p a:hover {
  text-decoration: underline;
}
#page #footer {
  margin: 20px 0;
  font-size: 13px;
  overflow: auto;
  clear: right;
  font-family: arial, sans-serif;
}
#page #footer .left {
  float: left;
  color: #666;
}
#page #footer .right {
  float: right;
  font-size: 14px;
}
#page #footer .right a {
  color: #525252;
  text-decoration: none;
  margin-left: 10px;
}
#page #footer .right a:hover {
  text-decoration: underline;
}
